@model IEnumerable<TestGlobalRusTrade.Entity.Models.Weather>
<body>	
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">						
					</div>
					<div class="col-lg-5">						
					</div>
				</div>
			</div>	
		</div>
	</section>
	
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="~/img/about-us.png" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Погода <br>
							Для города <b>N</b></h2>
							
						<p>
							<table class=table>
								<thead>
								<tr>
									<th>Дата</th>
								<th>Минимальная температура</th>
								<th>Максимальная температура</th>
								<th>Давление</th>
								<th>Влажность</th>
								<th>Ветер</th>
								<th>Осадки</th>
								</tr>					
								</thead>	
								<tbody>
								  @foreach (var weather in Model)
								  {
									<tr>
										<td>@weather._Date.ToString("d")</td>
										<td>@weather._MinimumTemperature °</td>
										<td>@weather._MaximumTemperature °</td>
										<td>@weather._Pressure</td>
										<td>@weather._Humidity %</td>
										<td>@weather._Wind</td>
										<td>@weather._Precipitation</td>
										
									</tr>
								}
								</tbody>
							</table>
						</p>
						<p>
							Нажми обновить и погода поменяется :)
						</p>
						<a  class="primary_btn" asp-controller="Home" asp-action="Index" ><span>Обновить</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo1.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo2.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo3.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo4.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo5.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo6.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo7.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo8.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="~/img/brands/logo9.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-2 col-lg-4 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">10</span>
							<span class="smll">Years Experience Working</span>
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-phone"></span>
							</div>
							<div class="ml-15">
								<p>call us now</p>
								<h3>(+1)-800-555-6789</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</body>